*{
    padding:0;
    margin:0;
}
.heading{
    padding-top:10px;
    text-align: center;
    background-color: burlywood;
    color:rgb(210, 30, 108);
    height:100px;
}
#game{
    padding-left:320px;
}
img{
    border-radius:50%;
    margin:50px;
}
#button1{
    width:200px;
    height:200px;
    object-fit:cover;
    justify-content: center;
    
}
#button2{
    width:200px;
    height:200px;
    object-fit:cover;
}
#button3{
    width:200px;
    height:200px;
    object-fit:cover;
}
#box1{
    background-color:bisque;
    width:200px;
    height:30px;
    margin-left:45%;
    border-radius:5px;
}
#box2{
    background-color:bisque;
    width:200px;
    height:30px;
    margin-left:45%;
    margin-top:10px;
    border-radius:5px;
}
#move{
    width:200px;
    height:80px;
    text-align:center;
    margin-left:45%;
    margin-top:10px;
    border-radius:10px;
    background-color: cornflowerblue;
    box-shadow: 10px;
}
#newgame{
    margin-left:50%;
    margin-top:10px;
    width:100px;
    height:30px;
    background-color:cornsilk;
    border-color: darkgray;

}